body{
    padding: 0;
    margin: 0;
    background-color: rgb(77, 80, 80);
}
#actual-view{
    /* border: solid blue; */
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modals{
    background-color: #ffffff;
    border-radius: 6vh;
    margin: 5vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-modal-signin, .container-modal-signup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 30vw;
}
.logo-signup{
    width: 27vw;
}
.logo-app{
    width: 8vw;
}
.logo-like{
    width: 10vw;
}
.logo:hover, .logo-app:hover, .logo-signup:hover, .logo-like:hover{
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.logo:hover, .logo-app:hover{
    filter: hue-rotate(180deg);
}
.logo-signup:hover{
    filter: hue-rotate(100deg);
}
.modal-signup{
    align-self:center;
    height: 80vh;
}
.modal-signin{
    align-self: flex-end;
    height: 70vh;
}
.modals:hover{
    -webkit-box-shadow: 0px 0px 10px 15px rgb(51, 51, 51);
    -moz-box-shadow: 0px 0px 10px 15px rgb(51, 51, 51);
     box-shadow: 0px 0px 10px 15px rgb(51, 51, 51);
}
.modal-signin header{
    /* border: solid red; */
    font-size: 5vh;
    letter-spacing: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(141, 43, 233);
}
.modal-signup header h1{
    text-align: center;
    font-weight: normal;
    /* border: solid red; */
    font-size: 5vh;
    letter-spacing: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(141, 43, 233);
}
.modal-signup header h3{
    text-align: center;
    /* border: solid red; */
    color: rgb(122, 122, 122);
    font-size: 2.7vh;
    font-weight: lighter;
}
.modal-signin header:hover, .modal-signup header h1:hover{
    color: rgb(28, 224, 55);
    cursor: pointer;
}
.signup-option p{
    text-align: center;
}
#signin-form, #signup-form{
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
    height: 40vh;
}
.modals input{
    width: 15vw;
    height: 3vh;
    border: none;
    padding: 1vh;
    border-bottom: solid 1px black;
    font-size: 2.5vh;
    font-family:  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.modals input:hover{
    border-bottom: solid 1px rgb(53, 228, 77);
}
.modals input:focus{
    outline: none;
}
#signin-form button, #signup-form button{
    background-color: rgb(141, 43, 233);
    color: whitesmoke;
    border: none;
    -webkit-box-shadow: 9px 9px 12px -5px rgba(15, 177, 96, 0.23);
    -moz-box-shadow: 9px 9px 12px -5px rgba(0,0,0,0.23);
    box-shadow: 9px 9px 12px -5px rgba(0,0,0,0.23);
}
.error{
    padding: 0;
    margin: 0;
    color: rgb(255, 125, 125);
    text-align: center;
    width:29vw;
}
#signup-form button{
    width: 7vw;
    height: 6vh;
}
#signin-form button{
    width: 6vw;
    height: 5vh;
}
#signin-form button:hover, #signup-form button:hover{
    background-color: rgb(28, 224, 55);
}
.not-found{
    /* border: solid red; */
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
    height: 50vh;
    padding: 0;
}
.not-found p{
    /* border: solid red; */
    font-size: 8vh;
    color: rgb(238, 236, 236);
    margin: 0;
}
.not-found p:first-child{
    font-size: 10vh;

}
nav{
    /* border: solid red; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 16vh;
    background-color: rgb(141, 43, 233);
}
.nav-one{
    background-color: rgb(44, 159, 253);
}
.nav-two{
    background-color: rgb(241, 73, 96);
}
.nav-three{
    background-color: rgb(248, 179, 19);
}
.nav-four{
    background-color: rgb(141, 43, 233);
}
.nav-ul{
    margin: 0;
    padding: 0;
    max-width: 50vw;
    height: 15vh;
    /* border: solid red; */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.nav-ul li{
    padding: 1.5vh;
    font-family:  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vh;
    /* border: solid red; */
    color: rgb(238, 236, 236);
}
.nav-ul li button{
    border: none;
    background: none;
}
.nav-ul li i{
    color: rgb(253, 250, 250);
    font-size: 4vh;
}
.nav-ul li i:hover{
    color:rgb(28, 224, 55);
}
.settings-layout{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.486);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.close-settings{
    font-size: 4vh;
    position: absolute;
    top: 15vh;
    left: 70vw;
}
.close-settings:hover{
    color: yellow;
    cursor: pointer;
}
.appear-flex{
    display: flex;
}
#settings{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 3vh;
    width: 40vw;
    height: 60vh;
    background-color: rgb(236, 236, 236);
}
#nav-settings{
    margin: 0;
    background-color: rgb(141, 43, 233);
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    width: 10vw;
    height: 60vh;
}
#nav-section{
    display: flex;
    justify-content: center;
    background-color: rgb(88, 88, 88);
    border-top-right-radius: 3vh;
    border-bottom-right-radius: 3vh;
    margin: 0;
    width: 30vw;
    height: 60vh;
}
.div-account{
    /* border: solid red; */
    display: flex;
    font-size: 2.5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.hide{
    display: none;
}
.setting-options{
    /* border: solid white; */
    list-style: none;
    display: flex;
    height: 13vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.setting-options li i{
    padding-top: 1vh;
    margin-left: 2vh;
    font-size: 3vh;
    /* border: solid red; */
    width: 2.5vw;
    height: 3vh;
    padding: 0;
}
.setting-options li {
    margin: 0;
    width: 8.5vw;
    font-size: 2.2vh;
    cursor: pointer;
    /* border: solid red; */
}
.setting-options li:first-child {
    border-top-left-radius: 3vh;
}
.setting-options li:hover {
    background-color: rgba(248, 248, 248, 0.287);
}
.form-display-name .name-btn{
    border-radius: 1vh;
    background-color: rgb(255, 255, 243);
    color: rgb(100, 100, 100);
    width: 4vw;
    height: 4vh;
}
.form-display-name .name-btn:hover{
    background-color: rgb(98, 236, 93);
}
.form-display-name{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* font-size: 2.5vh; */
    border: solid 0.3vh rgb(185, 185, 185);
    width: 20vw;
    height: 20vh;
}
.div-account p{
    text-align: center;
    margin: 1vh;
    /* border: solid red; */
}
.div-account p:first-child{
    margin-top: 4vh;
}
.hide{
    display: none;
}
.div-theme{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 20vw;
    height: 58vh;
    /* border: solid red; */
}
.theme-option {
    border-radius: 2vh;
    padding: 0;
    width: 6vw;
    height: 8vh;
    border: solid 0.3vh rgb(197, 197, 197);
}
.theme-option:hover{
    border-color: rgb(255, 255, 255);
}
.theme-option div:first-child{
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    height: 2vh;
    /* border: solid red; */
    margin: 0;
}
.theme-option div:last-child{
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    height: 6vh;
    background-color: rgb(71, 71, 71);
    /* border: solid rgb(69, 23, 196); */
    margin: 0;
}
.one div:first-child{
    background-color: rgb(44, 159, 253);
}
.two div:first-child{
    background-color: rgb(241, 73, 96);
}
.three div:first-child{
    background-color: rgb(248, 179, 19);
}
.four div:first-child{   
    background-color: rgb(141, 43, 233);
}
.notes-main-container{
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 84vh;
}
#notes-container{
    border-top: solid 2vh rgb(99, 97, 97);
    width: 100vw;
    /* border: solid red;  */
    height: 63vh;
    padding: 0;
}
#notes-form{
    width: 30vw;
    height: 20vh;
    /* border: solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#notes-form div{
    width: 20vw;
    height: 15vh;
    /* border: solid rgb(0, 132, 255); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#notes-form div input{
    background-color: #ffffff;
    width: 15vw;
    border-radius: 2vh;
    height: 3vh;
    border: none;
    padding: 1vh;
    font-size: 2.5vh;
    font-family:  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#notes-form div input:focus{
    outline: none;
}
#notes-form button{
    border: none;
    background: none;
}
#notes-form button i{
    font-size: 5vh;
    color: rgb(28, 224, 55);
}
#notes-form button:focus{
    outline: none;
}
#notes-form button i:hover{
    color: rgb(175, 94, 251);
}
#notes-list{
    overflow: auto;
    /* width: 60vw; */
    padding: 0;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    list-style: none;
}
#notes-list li{
    margin: 2vh 30vh;
    /* border: solid brown; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 26vh;
}
#notes-list li .li-note{
    /* border: solid red; */
    padding: 0;
    border-radius: 2vh;
    background-color: #f8f4f4;
    width: 30vw;
    height: 25vh;
}
.li-options{
    /* border: solid rgb(21, 255, 0); */
    display: flex;
    flex-direction: column;
}
.save-button{
    border: none;
    background: none;
    display: none;
}
.appear{
    display: block;
}
.li-options button i{
    visibility: hidden;
    color: cornsilk;
    font-size: 4vh;
    padding: 2vh;
}
.li-options button {
    border: none;
    background: none;
}
#notes-list li:hover .li-options i{
    visibility: visible;
}
.li-options i:hover{
    color: rgba(12, 209, 12);
}
.li-note div{
    /* border: solid palegreen; */
    padding: 2vh;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    width: 28vw;
}
.li-note div:first-child{
    border-radius: 2vh;
}
.note-content{
    /* border: solid red; */
    border-top: solid 2px rgb(158, 157, 157);
    margin: 0;
    height: 10vh;
    overflow-y: auto;
}
[contenteditable="true"]{
    width: 27vw;
    height: 10vh;
    overflow-y: auto;
} 
/* .li-note i{
    border: solid red;
} */
#notes-list::-webkit-scrollbar{
    width: 1vh;
}
#notes-list::-webkit-scrollbar-thumb {
    width: 1vh;
    background-color: rgba(12, 209, 12);
    border-radius: 1vh;
}
@media  (min-width: 320px) and (max-width: 700px) {
#actual-view{
    align-items: center;
}
.container-modal-signin, .container-modal-signup{
    flex-direction: column;
}
.logo, .logo-signup{
    width: 25vw;
}
.modals{
    margin: auto;
    width: 90vw;
}
.modal-signup header h3{
    width: 70vw;
    font-size: 2.4vh;
}
.signup-option p{
    font-size: 2.4vh;
}
#signin-form, #signup-form{
    /* border: solid red; */
    width: 80vw;
}
.error{
    width:78vw;
}
.modals input{
    width: 65vw;
}
#signin-form button, #signup-form button{
    font-size: 2vh;
    width: 30vw;
}
#signup-form button{
    height: 6vh;
}
.not-found p{
    text-align: center;
    font-size: 4vh;
}
.form-display-name{
    width: 50vw;
}
.form-display-name .name-btn{
    width: 10vw;
}
.close-settings{
    left: 90vw;
}
nav{
    height: 6vh;
}
.nav-ul{
    max-width: 80vw;
    height: 6vh;
}
.nav-ul li{
    font-size: 2.4vh;
    padding: 1vh;
    /* border: solid red; */
}
.nav-ul li i{
    font-size: 2.5vh;
}
.div-account{
    font-size: 2vh;
}
.div-theme{
    width: 50vw;
    /* border: solid red; */
}
.theme-option {
    width: 20vw;
}
#settings{
    width: 95vw;
}
#nav-settings{
    width: 33vw;
}
#nav-section{
    width: 62vw;
}
.div-account{
    font-size: 2.5vh;
}
.setting-options{
    /* border: solid white; */
    height: 12vh;
}
.setting-options li i{
    margin-left: 1.7vh;
    margin-top: 1vh;
    font-size: 2.2vh;
    /* border: solid red; */
    width: 6vw;
}
.setting-options li {
    /* border: solid red; */
    width: 30vw;
    font-size: 2.1vh;
}
.notes-main-container{
    
    height: 94vh;
}
#notes-container{
    border-top: solid 2vh rgb(99, 97, 97);
    /* border: solid rgb(187, 11, 149);  */
    height: 75vh;
}
#notes-form{
    width: 95vw;
    height: 15vh;
    /* border: solid red; */
}
#notes-form div{
    width: 75vw;
    height: 15vh;
    /* border: solid rgb(0, 132, 255); */
}
#notes-form div input{
    width: 65vw;
    height: 2.5vh;
}
#notes-list{
    /* border: solid rgb(0, 132, 255); */
    height: 74vh;
}
#notes-list li{
    justify-content: center;
    align-items: center;
    margin: 0vh;
    /* border: solid brown; */
    width: 80vw;
    height: 22vh;
}
#notes-list li .li-note{
    /* border: solid red; */
    width: 70vw;
    height: 20vh;
}
.li-options button{
    margin: 2vh 1vh;
    /* border: solid firebrick; */
}
.li-options button i{
    padding: 0;
    font-size: 3vh;
}
.li-note div{
    /* border: solid pink; */
    width: 60vw;
    font-size: 2.3vh;
}
.note-content{
    border-top: solid 1.2px black;
    height: 8vh;
}
[contenteditable="true"]{
    width: 60vw;
    height: 6vh;
} 
}